@media (min-width:640px) {
  .wr_verticle {
    text-orientation: upright !important;
    writing-mode: vertical-lr !important;
  }
}

@media (min-width:768px) {
  .wr_verticle1 {
    text-orientation: upright !important;
    writing-mode: vertical-lr !important;
  }
}

.navlink:hover {
  -webkit-text-stroke: 0.5px;
  transition: -webkit-text-stroke .3s ease-in-out !important;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #025066;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: l#025066;
}